* {
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

body {
    background-image: linear-gradient(#c7faf2, #62dfff);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}