* {
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

body {
    background-image: linear-gradient(#c7faf2, #62dfff);
}

.header {
    padding-bottom: 50px;
}